ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.1
    two_d_mode: true
    publish_tf: true
    map_frame: map
    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom
    
    # Odometry is your primary source of motion data
    odom0: /odom
    odom0_config: [true,  true,  false,  # Use x, y position
                   false, false, true,   # Use yaw orientation
                   false, false, false,
                   false, false, false,
                   false, false, false]
    odom0_differential: false